.carrossel {
    box-shadow: 2px 2px 4px #000000;
    overflow: hidden;
    width: 100%;
}

.container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.item {
    object-fit: cover;
    width: 100%;
}