header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    width: 40%;
    padding: 20px;
}

.nav__itens {
    display: flex;
    list-style: none;
    gap: 20%;
}

.nav__item {
    text-decoration: none;
    font-size: 1.2rem;
    color: #000000;
    font-family: sans-serif;
}

.nav__item:hover {
    color: #303030;
}