* {
    margin: 0;
    padding: 0;
}

/* Navegação */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: right;
    padding: 20px;
}

.nav__itens {
    list-style: none;
    display: flex;
}

.nav__item {
    text-decoration: none;
    margin-right: 3rem;
    font-size: 1.2rem;
    color: #000000;
    font-family: sans-serif;
}

.nav__item:hover {
    color: #303030;
} 

/* Carrossel - Página home */
.carrossel {
    box-shadow: 2px 2px 4px #000000;
    overflow: hidden;
    width: 100%;
}

.container_carrossel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.item {
    object-fit: cover;
    width: 100%;
}

/* Banner - Páginas Sobre e Contato*/
.banner {
    width: 100%;
}

.banner__imagem {
    object-fit: cover;
    width: 100%;
}

/* Conteúdo */
.container {
    display: flex;
    width: 100%;
    padding: 5% 0% 0% 0%;
    box-sizing: border-box;
    justify-content: center;
    gap: 5%;
    align-items: center;
}

.imagem {
    width: 30%;
}

.container__conteudo {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titulo {
    align-self: center;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 800;
}

.texto {
    font-size: 1rem;
    font-family: sans-serif;
}

.botao {
    width: 100px;
    border: none;
    margin-top: 10px;
    padding: 12px;
    cursor: pointer;
    background-color: #da5400;
    color: #FFFFFF;
}

.rodape {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-size: 1rem;
    font-family: sans-serif;
    background-color: #000000;
    padding: 2%;
    margin-top: 5%;
}

.card {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 3% 0px 3% 10%;
    gap: 5%;
    align-items: center;
    border: solid 2px #696969;
}

.titulo__cards {
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: 800;
}

.contatos__org {
    display: flex;
    justify-content: center;
    gap: 3%;
}

.contatos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    gap: 20px;
}

.inputs__formulario {
    display: flex;
    gap: 3%;
}

.imagem__cards {
    width: 20px;
}

.formulario {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.input {
    width: 50%;
    font-size: 1rem;
    height: 1rem;
    box-sizing: border-box;
    padding: 20px;
    border: solid 2px #696969;
}

.mensagem {
    resize: none;
    width: 100%;
    margin-top: 3%;
    font-size: 1rem;
    box-sizing: border-box;
    padding: 10px;
    border: solid 2px #696969;
}

.subtitulo {
    align-self: center;
    font-size: 1.3rem;
    font-family: sans-serif;
    padding: 5% 0 10% 0;
}

.apresentacao__sobre {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.apresentacao__conteudo__texto__sobre {
    font-size: 1.5rem;
    font-family: sans-serif;
    color: #696969;
}

.ativo {
    display: none;
}

@media screen and (max-width: 950px){
    .container {
        flex-direction: column;
    }

    .container__conteudo {
        width: 80%;
    }

    .imagem {
        width: 80%;
    }

    .contatos__org {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .contatos {
        width: 80%;
        margin-bottom: 30px;
    }

    .ativo {
        display: block;
        padding-bottom: 10px;
    }

    .formulario {
        width: 80%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .botao {
        margin: 0 auto;
        width: 150px;
    }

    .nav__item {
        font-size: 1rem;
        margin-right: 1rem;
    }
}
