* {
    margin: 0;
    padding: 0;
}

.banner {
    width: 100%;
}

.imagem {
    object-fit: cover;
    width: 100%;
}

.apresentacao {
    display: flex;
    width: 100%;
    padding: 5% 0% 0% 0%;
    box-sizing: border-box;
    justify-content: center;
    gap: 5%;
    align-items: center;
}

/* apresentacao sobre */

.apresentacao__sobre {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.apresentacao__conteudo__texto__sobre {
    font-size: 1.5rem;
    font-family: sans-serif;
    color: #696969;
}

/* fim */

.apresentacao__imagem {
    width: 30%;
}

.apresentacao__conteudo {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.apresentacao__conteudo__titulo {
    align-self: center;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 800;
}

.apresentacao__conteudo__texto {
    font-size: 1rem;
    font-family: sans-serif;
}

.apresentacao__botao {
    width: 20%;
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: #000000;
    color: #FFFFFF;
}

.rodape {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-size: 1rem;
    font-family: sans-serif;
    background-color: #000000;
    padding: 2%;
    margin-top: 5%;
}